* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #000;
}


/* STOCK */

#stock {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.die-stock {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 1rem;
    cursor: pointer;
    font-size: 20px;
    opacity: 0.2;
    filter: blur(.5px);
    transition: .2s;
}

.die-stock:hover {
    opacity: 0.8;
    filter: blur(0);
    font-weight: bolder;
    font-size: 24px;
}

/* TABLE */

#table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}


/* DICE */

.die {
    position: relative;
    text-align: center;
    width: 128px;
    height: 128px;
    margin: 1rem;
    border-radius: 4px;
    font-size: 24px;
    text-align: center;
    opacity: 0.45;
    transition: .2s;
    cursor: pointer;
}

.die:hover, .die.active {
    opacity: 0.8;
    font-weight: bolder;
    font-size: 36px;
}

.die.active {
    background-color: rgba(0, 0, 0, 0.15);
    transition: .2s;
}

.die.active:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.die > .die-image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 108px;
    height: 108px;
}

.die > .die-value {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.die > .die-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 48px;
    width: 128px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    z-index: 2;
}

.die > .die-buttons > div {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
    line-height: 80%;
    border-radius: 50%;
    background-color: #fff;
    transition: .2s;

    -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
}

.die > .die-buttons > .btn-roll {
    left: 10px;
}

.die > .die-buttons > .btn-remove {
    right: 10px;
}

.die > .die-buttons > div:hover {
    font-size: 48px;
}

#templates {
    display: none;
}

